<div id="Msg" style="height: 230px; width:600px; margin-left: auto; margin-right: auto; padding: 10px; background-color: #fff;  border-radius: 10px;">
	<h3 style="color: #666; font-weight:normal; font-size: 26px; margin: 15px 0px !important; font-family: 'Segoe UI', 'Segoe UI Web Regular', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', 'Arial, sans-serif';">
		Solicita&ccedil;&atilde;o de reboque
	</h3>

	<p>
		<span style="font-weight: bold;">NOME: </span>
		<%= @mensagem.nome%>
	</p>

	<p>
		<span style="font-weight: bold;">PLACA: </span>
		<%= @mensagem.placa%>
	</p>

	<p>
		<span style="font-weight: bold;">TELEFONE: </span>
		<%= @mensagem.telefone%>
	</p>
</div>