<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="ISO-8859-1">
</head>
<body>
	<div id="Contain" style="height:430px; width: 640px; background-color: #F4F4F4; border-radius: 5px; padding-left: 10px; padding-top: 10px; ">
		<%= image_tag attachments['logo.png'].url, alt: 'TheFarma', class: 'photo', size: "100x100", style: "margin: 5px 5px 5px 16px;"-%>
		<%= yield %>
	</div>
</body>
</html>